{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
